.wrapper{
  padding: 60px 15px 0px 15px;
}

.product-filter-wrapper{
  border-right: 2px solid #333;

}

.product-filter-wrapper .filter-panel .list-group{
  max-height: 500px;
  overflow-y: auto;
}
.product-filter-wrapper .filter-panel .list-group .list-group-item{
  padding: 5px 10px;
}
.product-filter-wrapper .filter-panel .list-group .list-group-item label{
  font-weight: normal;
}

.product .product-img{
    width: 200px;
    margin: auto;
    height: 320px;
}

.footer{
    width: 100%;
    height: 60px;
    background-color: #222;
}
.footer p{
  margin: 20px 0;
}

